{
  "servers": {
    "localhost": {
      "server": "http://localhost:8080/exist",
      "user": "admin",
      "password": "",
      "root": "/db/system/repo/ntime"
    }
  },
  "sync": {
    "server": "localhost",
    "dir": "src",
    "ignore": [
      ".exist-secrets.json",
      ".git/**",
      "components/**",
      "node_modules/**",
      "bower_components/**",
      "build/**",
      "webtest/**"
    ]
  },
  "package": {
    "author": "Peter Herkenrath",
    "target": "ntime",
    "description": "NTime for Nabu",
    "namespace": "https://eNahar.org/ns/lib/ical/ntime"
  }
}
